.counter{
  background-color: #586b7b;
  width: 200px;
  height: 190px;
  border-radius: 10px;
  padding-top: 30px;
  &__window{
    width: 70px;
    height: 70px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e2e2e2;
    font-size: 40px;
  }

  &__inner{
    display: flex;
    justify-content: center;
  }
  &__btnInk{
    width: 60px;
    height: 25px;
    margin-right: 20px;
    border-radius: 3px;
  }
  &__btnReset{
    width: 60px;
    height: 25px;
    border-radius: 3px;
  }
}

.error{
  width: 60px;
  height: 25px;
  border-radius: 3px;
  color: #e2e2e2;
  background-color: red;
}

.errorWin{
  width: 70px;
  height: 70px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
  font-size: 40px;
}